:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #000;
  --main-color: #fff;
  --secondary-color: #eae8e8;
  --ternary-color: #5b577e;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--ternary-color);
}

input:focus {
  border: 2px solid var(--ternary-color);
}
